body {
    font-family: "Source Sans Pro","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.728571;
}
.navbar-brand,
.navbar-nav li a {
	/*
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    */
    font-size: 18px;
}